body {
  background-color: #ffffff;
  font-family: "Arial";
  font-size: 17px;
  line-height: 22px;
  font-weight: 400;
  color: #818181;
  margin: 0 auto;
}

h1 {
  font-size: 42px;
  line-height: 44px;
  font-weight: 400;
  color: #000000;
  padding-bottom: 18px;
}

h2 {
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  position: relative;
  padding-top: 100px;
}

h2::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 100px;
  top: 0;
  left: 35%;
}

.howitworks {
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 20px;
  text-align: center;
}

.howitworks__title--phone::before {
  background: url("../img/img-phone.png") no-repeat;
}

.howitworks__title--feedback::before {
  background: url("../img/img-feedback.png") no-repeat;
}

.container {
  margin: 0 auto;
  background: transparent;
}

.howitworks {
  position: relative;
}

.howitworks__item {
  display: none;
}

.slider {
  position: relative;
}

.slider__input {
  display: none;
}

.slider__input:nth-of-type(1):checked ~ .howitworks__items > .howitworks__item:nth-child(1){
  display: block;
}

.slider__input:nth-of-type(2):checked ~ .howitworks__items > .howitworks__item:nth-child(2) {
  display: block;
}

.slider__toggles {
  position: absolute;;
  font-size: 0;
  top: 510px;
  left: 182px;
  left: 45%;
}

.slider__toggle {
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
  width: 6px;
  height: 6px;
  background-color: #bec2c7;
  border-radius: 50%;
  cursor: pointer;
}

.slider__input:nth-of-type(1):checked ~ .slider__toggles .slider__toggle:nth-child(1) {
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  border: 3px solid #283645;
  border-radius: 50%;
  position:relative;
  top: -3px;
}

.slider__input:nth-of-type(2):checked ~ .slider__toggles .slider__toggle:nth-child(2) {
  background-color: #ffffff;
  border: 3px solid #283645;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position:relative;
  top: -3px;
}


@media (min-width: 700px) {

  .container {
    width: 620px;
    margin: 0 auto;
    background: transparent;
  }

  .slider__input {
    display: none;
  }

  .slider__toggles {
    display: none;
  }

  .howitworks {
    text-align: left;
    padding: 0;
  }

  h2::before {
    left: 0;
  }

  .howitworks_next,
  .howitworks__prev {
    position: relative;
  }

  .howitworks__next::before,
  .howitworks__prev::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-left: 5px solid #818181;
    border-bottom: 5px solid #818181;
    cursor: pointer;
  }

  .howitworks__prev::before {
    transform: rotate(45deg);
    top: 154px;
    left: -45px;
  }

  .howitworks__next::before {
    transform: rotate(-135deg);
    top: 244px;
    left: 635px;
  }

  .howitworks__prev:target ~.slider__input:nth-of-type(1):checked ~ .howitworks__items > .howitworks__item:nth-child(1){
    display: block;
  }

  .howitworks__next:target ~ .slider__input:nth-of-type(2):checked ~ .howitworks__items > .howitworks__item:nth-child(2) {
    display: block;
  }

}

@media (min-width: 1200px) {

  .container {
    width: 940px;
    margin: 0 auto;
    background: transparent;
  }

  h1 {
    text-align: center;
  }

  .howitworks__item {
    text-align: center;
    display: block;
  }

  .howitworks__descr {
    padding-left: 10px;
    padding-right: 10px;
  }

  h2::before {
    left: 45%;
  }

  .howitworks__next,
  .howitworks__prev {
    display: none;
  }

  .howitworks__item--feedback {
    display: block;
  }

}
